


table {
    width: 100%;
    margin: 1.5rem 0;
    border-collapse: collapse;

    thead{
        background-color: var(--basic_site_color);
        font-weight: bold;
        
    }

    tbody {
        background: rgba($color: #fff, $alpha: 1);
    }

    tbody td {
        font-size: 1.4rem;
        text-transform: capitalize;
        font-size: 1.4rem;
        padding: 0.4rem;
  
    }


    th,td {
        text-align: center;
    }

    th {
        font-size: 1.6rem;
        color: var(--basic_site_color2);
        padding: 0.5rem;
    }

    tr .action {
        cursor: pointer;
        color: #1bae1b;
        //background-color: #c20f0f;
    }

   /*  tr button {
        width: 3rem;
        height: 3rem;
    
    } */

   /*  tr image {
        width: 2rem;
        height: 100%;
    } */


}