@use '../config';
@use 'restaurantForm';
@use 'RestaurantList';


body {
    background: url('/assets/pic1.jpg') center no-repeat;
    background-size: cover;
    min-height: 100vh;
   
}

#page_head {

    width: 100%;
    padding: 0.6rem;
    backdrop-filter: blur(0.4rem);
    margin: 1rem 0;

    h1 {
        font-size: 4rem;
        text-align: center;
        color:var(--basic_site_color);
    }
}
